.top_menu{
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    color: aqua;
}

.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}
.box1 p {
    margin: 0; 
    padding: 0;
}

footer{
    text-align: center;
    margin-top: 64px;
    width: 100%;
}

#wrap{
    width: 960px;
    margin: 0px auto;
}