
body{
    margin-top: 150px;
    text-align: center;
    background-color: #adadad50
}

div.normal{
    margin: 2em 2em;
}

.top_menu{
    display: inline-block;
    margin: 20px;
    color: aqua;
}

.box1 {
    padding: 0.5em 1em;
    margin: 2em 2em;
    font-weight: bold;
    border: solid 3px #000000;
}


.box1 p {
    margin: 0; 
    padding: 0;
}

dt{
    float: left;
}

.box2 dt::after{
    content: "："
}



.box2 {
    /* width: 75%; */
    position: relative;
    margin: 2em 2em;
    padding: 2em 10em;
    /* border: solid 3px #008000; */
    border-radius: 8px;
}

.std_pad{
    padding: 25px;
}

.table_parent{
    display: table;
    table-layout: fixed;
    border-spacing: 30px 5px;
}

.table_child{
    display: table-cell;
}

.inline_block{
    display: inline-block;
}

.overray{
    width: 280px;
	height: 188px;
	overflow: hidden;
	margin: 10px 8px 10px 16px;
	position: relative;
}

.overray .caption{
    /* text-align: center; */
    font-size: 130%;
	color: rgb(0, 253, 63);
	/* padding-top: 80px; */
	padding: 100px;
}

.overray .mask{
    width: 100%;
	height:	100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 166, 0, 0.4);
	-webkit-transition:	all 0.4s ease;
	transition: all 0.4s ease;
	-webkit-transform: scale(0);	/* 大きさを０にして表示しない */
	transform: scale(0);
}

.overray:hover .mask{
    -webkit-transform: scale(1);	/* 大きさを１にして表示する */
	transform: scale(1);
}

.box2 .box2{
    margin: 0.5em 0.5em;
}

.box2 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 20px; 
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    /* background: #FFF; */
    color: #008000;
    font-weight: bold;
}

.box3 .box-title {
    position: absolute;
    display: inline-block;
    top: -50px;
    left: 20px; 
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    /* background: #adadad50; */
    color: #008000;
    font-weight: bold;
}

.box2 p {
    margin: 0; 
    padding: 0;
}


.text_center{
text-align: center;
}

footer{
    text-align: center;
    margin-top: 64px;
    width: 100%;
}

#wrap{
    width: 960px;
    margin: 0px auto;
}

.ggmap {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
     
.ggmap iframe,
.ggmap object,
.ggmap embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.course_frame{/*スライドショーの枠の大きさ ないとサイトが横に長くなる*/
    border-radius: 7px;
    width: 75%;
    height: auto;
    overflow: hidden;
    margin: 2em auto;
    border: 8px solid #ffffff;
    box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
}

.course_frame2{
    border-radius: 7px;
    width: 40%;
    height: auto;
    overflow: hidden;
    margin: 2em auto;
    border: 8px solid #ffffff;
    box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
}

  
.box3{
    width: 50%; 
    text-align: left;
    color: #008000;/*文字色*/
    border: dashed 2px #00a800;/*破線 太さ 色*/
    /* background: #adadad50; 背景色 */
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: relative;
    margin: 2em 20em;
    /* padding: 2em 10em; */
    border-radius: 8px;
  }
  
 
  ul li, ol li {
    list-style: none;
    font-size: 20px;
    line-height: 1.5;
    padding: 0.5em 0;
  }

  li.course{
    
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 20px;
    /* display: inline-block; */
    color: #006400;
    margin: 10px 22px;
    padding: 10px;
    text-align: center;
    width: auto;
    height: 100%;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
}

li.course a{
    color: #006400;
    text-decoration: none;
}

div.course a{
    color: #006400;
    text-decoration: none;
}

div .course:hover{
    color: #00a800;
    background-color: rgb(115, 255, 0);
    box-shadow:0px 0px 20px 0px rgba(157, 255, 0, 0.5);
}

div.course{
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 20px;
    /* display: inline-block; */
    color: #006400;
    margin: 0px 22px;
    padding: 10px;
    text-align: center;
    width: auto;
    height: 100%;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
}