
body{
    margin-top: 150px;
    text-align: center;
}

div.normal{
    margin: 2em 2em;
}

.top_menu{
    display: inline-block;
    margin: 20px;
    color: aqua;
}

.box1 {
    padding: 0.5em 1em;
    margin: 2em 2em;
    font-weight: bold;
    border: solid 3px #000000;
}


.box1 p {
    margin: 0; 
    padding: 0;
}

dt{
    float: left;
}

.box2 dt::after{
    content: "："
}



.box2 {
    /* width: 75%; */
    position: relative;
    margin: 2em 2em;
    padding: 2em 10em;
    /* border: solid 3px #008000; */
    border-radius: 8px;
}

.std_pad{
    padding: 30px;
}

.inline_block{
    display: inline-block;
}

.box2 .box2{
    margin: 0.5em 0.5em;
}

.box2 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 20px; 
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #008000;
    font-weight: bold;
}

.box2 p {
    margin: 0; 
    padding: 0;
}


.text_center{
text-align: center;
}

footer{
    text-align: center;
    margin-top: 64px;
    width: 100%;
}

#wrap{
    width: 960px;
    margin: 0px auto;
}

.ggmap {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    }
     
    .ggmap iframe,
    .ggmap object,
    .ggmap embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }