ul{
    font-size: 0;
}

/* @media screen and (min-width:0px){
    li{
        border-radius: 15px;
        background-color: #222222;
        display: inline-block;
        font-size: 12px;
        text-align: center;
        width: 10%;
    }
} */

/* @media screen and (min-width:300px){ */

    li.global{
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 20px;
    display: inline-block;
    color: #006400;
    margin: 0px 22px;
    padding: 10px;
    text-align: center;
    width: 15%;
    height: 100%;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
}/*!liのリスト要素を横並びにさせるための記述*/
/*! 参考:https://delaymania.com/201404/web/list-inline-block/ */
/*! inline-blockについては: http://ja.learnlayout.com/inline-block.html*/
/*!2行4列にするにはやはりwidthが関係してたらしい*/
/*display:flexやtable、flexboxを要調査*/
/* } */

.title{
    box-shadow:0px 0px 20px 0px rgba(0,0,0,0.5);
}

.title:hover{
    box-shadow:0px 0px 0px 0px rgba(0,0,0,0.5);
}

nav#header{
    text-align: center;
    margin-top: 20px;
}

nav a{
        text-decoration: none;
        color: #ffffff;  
}

nav li:hover{
    color: #00a800;
    background-color: rgb(115, 255, 0);
    box-shadow:0px 0px 20px 0px rgba(157, 255, 0, 0.5);
}



header{
    width: 100%;
    top:0px;
    background-color:#00a800;
    position: fixed;
    z-index: 999;
    color:white;
    padding:16px;
    box-shadow:0px 0px 20px 0px rgba(0,0,0,0.5);
}

.now_page{
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    margin: 0px 10px
}

.profile{
    margin-top:24px;
    text-align:center
}

.profile>img{
    width:180px;
    height:160px;
    border-radius: 80px;
}

.detail{
    display: flex;
}

section{
    width: 480px;
    margin: 20px;
}

