.cp_cssslider {/*スライドショーの枠の大きさ ないとサイトが横に長くなる*/
    width: 600px;
	height: 400px;
	overflow: hidden;
	margin: 2em auto;
	border: 10px solid #ffffff;
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
}
.cp_slide_item {/*表示させるコンテンツの大きさ*/
	width: 600px;
	height: 400px;
	float: left;
	position: relative;
}
.cp_slidewrapper {/*画像を改行なしで設置できる場所の長さ指定? ないとそもそもスライドしないことが判明した*/
	width: 500%;/* slideの枚数×100% */
	position: relative;
	left: 0;
	animation: slider 25s infinite ease;/* スピード */
}
@-webkit-keyframes slider {/*これもないと動かない*/
	/* 100%を枚数で割った%に割り振る */
	/* 100%を枚数で割った%に割り振る */
	0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
        20% {
        -webkit-transform: translateX(-600px);
        transform: translateX(-600px);
        }
        40% {
        -webkit-transform: translateX(-1200px);
        transform: translateX(-1200px);
        }
        60% {
        -webkit-transform: translateX(-1800px);
        transform: translateX(-1800px);
        }
        80% {
        -webkit-transform: translateX(-2400px);
        transform: translateX(-2400px);
        }
        100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
}
@keyframes slider {/*これはなくてもスライドするが...*/
/* 100%を枚数で割った%に割り振る */
0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
	20% {
	-webkit-transform: translateX(-600px);
	transform: translateX(-600px);
	}
	40% {
	-webkit-transform: translateX(-1200px);
	transform: translateX(-1200px);
	}
	60% {
	-webkit-transform: translateX(-1800px);
	transform: translateX(-1800px);
	}
	80% {
	-webkit-transform: translateX(-2400px);
	transform: translateX(-2400px);
	}
	100% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
}